* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.options-cont {
    height: 2.9rem;
    width: 4rem;
    background-color: rgb(220, 234, 247);
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.tools-cont {
    display: flex;
    height: 40rem;
    width: 6vw;
    background-color: rgb(220, 234, 247);
    flex-wrap: wrap;
    position: absolute;
    top: 4.5rem;
    left: 1rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scale-tools {
    animation-name: scale-tools;
    animation-duration: 1s;
}

@keyframes scale-tools {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.tools-cont>* {
    display: block;
    width: 5rem;
}

.pencil-tool {
    height: 4rem;
    width: 7rem;
    background-color: rgb(220, 234, 247);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 6rem;
    left: 6.5rem;
    border-radius: 19px;
    display: none;
}

.pencil-width-cont {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-cont input {
    width: 80%;
}

.pencil-color-cont {
    height: calc(100%-2rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.pencil-color {
    width: 1.5rem;
    height: 1rem;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.eraser-tool-cont {
    height: 1.5rem;
    width: 7rem;
    background-color: rgb(220, 234, 247);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 12rem;
    left: 6.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
}

.eraser-tool-cont input {
    width: 80%;
}

.sticky-cont {
    height: 15rem;
    width: 15rem;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 15rem;
    left: 20rem;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2rem;
    background-color: rgb(230, 238, 247);
}

.header-cont>* {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.minimize {
    background-color: rgb(231, 248, 231);
    color: rgb(4, 151, 4);
    border-radius: 4px;
}

.remove {
    background-color: rgb(252, 232, 232);
    color: red;
    border-radius: 4px;
}

.note-cont {
    height: calc(100% - 2.2rem);
    background-color: rgb(240, 244, 248);
}

textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

.imgc {
    height: 100%;
    width: 100%;
}